body {
    background: rgb(135, 138, 138);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
}

table {
    width: 100%;
    margin-top: -6px;
    font-size: larger;
    line-height: normal;
}

th, td {
    color: aliceblue;
    background-color: rgb(71, 70, 70);
    padding:.2em.4em!important;
    text-align: center;
}

img {
    border-radius: 50%;
    height: auto;
    vertical-align: middle;
}

button {
    background-color: rgb(63, 62, 62);
    color: rgb(184, 97, 97);
    border-radius: 22px;
    font: bold 22px/24px arial, helvetica, sans-aerif;	
    padding:0px;
    text-decoration: none;
    text-align:center;	
    color:#ccc;
    width:220px;  
    height:54px;	
    display:block;	
}

